@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html,
body,
div,
h1,
h2,
h3,
h4,
span {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  font-family: "pretendard";
  font-size: 16px;
}

.themeSelector {
  margin: 0;
  padding: 6px;
  position: fixed;
  top: 16px;
  right: 16px;
  transition: 0.3s;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  opacity: 0.86;
}

.light .themeSelector:hover {
  background-color: rgba(180, 180, 180, 0.95);
  transition: 0.3s;
}

.night .themeSelector:hover {
  background-color: rgba(220, 220, 220, 0.9);
  transition: 0.3s;
}

.themeSelector * {
  height: 25px;
  width: 25px;
}

.light {
  color: black;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.night {
  color: white;
  background: #353b48;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
